question_answering/corpus_utils/sparknotes_spider.py

# Standard Python repo .gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.x
question_answering/models/distilbert-squad-nqa
#misc
speech_recognition/models
**/dialogue/notebooks/encoder/
**/dialogue/notebooks/fastText/
**/dialogue/notebooks/rnn_model/
**/dialogue/notebooks/models.py
**/dialogue/notebooks/pred_nqa.zip
**/dialogue/models/fastText
**/dialogue/models/encoder
**/dialogue/models/qc_rnn_model
**/dialogue/models/qc_rnn_model.zip


auto_speech_recognition/models
auto_speech_recognition/live_models
auto_speech_recognition/test_data
auto_speech_recognition/test_data3
auto_speech_recognition/test_data3
auto_speech_recognition/wn_data
auto_speech_recognition/audio_temp
auto_speech_recognition/*_data
auto_speech_recognition/noise_files
auto_speech_recognition/*/*.wav
test_set.zip
test_set_*.zip
